---
- name: Deploy CloudFormation stack
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    template_path: "{{ (playbook_dir, '..', 'frontend.yaml') | path_join | realpath }}"
    project_root: "{{ playbook_dir | realpath }}/../.."
    frontend_dir: "{{ project_root }}/frontend"
    build_dir: "{{ frontend_dir }}/dist"
    bucket_name: "www.mabrouk-engineering.com"
    cfn_parameters:
      BucketName: "mabrouk-engineering.com"
      ACMCertificateArn: "arn:aws:acm:us-east-1:806321741962:certificate/6c3675c7-da75-4533-8130-41860bcddceb"
  vars_files:
    - vaults/prod.yml
  tasks:
    - name: Deploy or Update stack
      amazon.aws.cloudformation:
        region: "{{ AWS_REGION }}"
        aws_access_key: "{{ AWS_ACCESS_KEY_ID }}"
        aws_secret_key: "{{ AWS_SECRET_ACCESS_KEY }}"
        stack_name: "{{ STACK_NAME }}"
        state: present
        template_body: "{{ lookup('file', template_path) }}"
        template_parameters: "{{ cfn_parameters }}"
        capabilities:
          - CAPABILITY_NAMED_IAM
          - CAPABILITY_AUTO_EXPAND
        on_create_failure: DO_NOTHING
      register: cfn_result
    - name: Show stack outputs
      debug:
        var: cfn_result.stack_outputs
